@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&family=Roboto:ital,wght@0,900;1,100&display=swap');
body {
    margin: auto;
    text-align: center;
    border: 1px solid red;
    font-family: 'Roboto', sans-serif;
}
p {
    margin-top: 2px 0 2px;
}
.lirycs {
    border: 1px solid blue;
    justify-content: center;
    font-family:'Open Sans Condensed', sans-serif;
}

.first-row {
    border: 1px solid red;
    width: 50%;
    text-align: justify;
    margin: 10px auto;
}

.second-row {
    border: 1px solid red;
    width: 50%;
    text-align: justify;
    margin: 10px auto;
}

.third-row {
    border: 1px solid red;
    width: 50%;
    text-align: justify;
    margin: 10px auto;
}

.third-row > p:last-child {
    font-family: 'Roboto', sans-serif;
}